body {
  background-color: peachpuff;
}

h1 {
  color: maroon;
  text-align: center;
  font-family: Georgia;
  font-size: 40px;
}

h2 {
    color: darkmagenta;
    text-align: left;
    font-family: Georgia;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

h3  {
  color: darkslateblue;
  text-align: left;
  font-family: Georgia;
  font-size: 20px;
  }

p {
  font-family: Baskerville;
  text-align: justify;
  color: indigo;
  font-size: 18px;
  }

#myDIV {
    text-align: center;
    margin-bottom: 40px;
  }

#profile {
    float: right;
    clear: right;
  }

#job {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;

}
